@model Credit_Relationship.Models.Order

@{
    ViewBag.Title = "Інформація про замовлення";
}

<h2>Інформація про замовлення</h2>

<div>
    <h4>Замовлення</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Повернутись до списку замовлень", "Index")
</p>
