@model IEnumerable<Credit_Relationship.Models.Order>

@{
    ViewBag.Title = Resources.Resource.Listing;
}

<h2>@Resources.Resource.Listing</h2>

<p>
    @Html.ActionLink(Resources.Resource.CreateOrder, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.Resource.Details, "Details", new { id = item.Id }) |
                @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    <p>
        @Html.ActionLink(Resources.Resource.CreditCatalog, "ListCredits")
    </p>

</table>
